* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e7d4c7;
}

.header {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 10px 15px;
  background: #e7d4c7 url(https://www.greekmythology.com/build/images/ornament.16a47461.svg) repeat-x;
  padding-bottom: 0;
  padding-top: 20px;
}

.header h1 {
  font-size: 45px;
  padding: 15px;
  color: #12343f;
}

.header-text h1 {
  font-size: 40px;
  padding: 10px;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 15px;
  display: inline;
}

.header-text h2 {
  font-size: 45px;
  color: white;
  background: none;
}

.header-text p {
  font-size: 20px;
  color: white;
  font-weight: 700;
  background: none;
}

.header-text {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 700px;
  height: 150px;
  top: 200px;
  left: 70px;
  border-radius: 10px;
  padding: 10px;
}

.h-img {
  background-image: url("header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

.hr1 {
  width: 99.8%;
  height: 2px;
  background-color: #ad612b;
  border: 2px solid black;
}

hr {
  width: 99.8%;
  height: 4px;
  background-color: #ad612b;
  border: 2px solid black;
}

li:nth-child(n+1) {
  margin-right: 20px;
}

li a {
  text-decoration: none;
  color: #12343f;
  font-size: 30px;
}
a:hover{
  transition: 0.5s;
  color: wheat;
}
li{
  background: none;
  transition: 0.3s;
}
li:hover {
  background-color: #ae7a54;
  border-radius: 20px;
}
#navbar {
  display: flex;
  justify-content: flex-end;
}
#navbar li {
  list-style: none;
  padding: 25px 15px 15px 15px;
  height: 40px;
  font-weight: 800;
}
.o-mitologiji {
  padding-bottom: 0;
  padding-top: 20px;
}

.o-mitologiji h2 {
  font-size: 45px;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 20px;
  text-align: center;
  color: #12343f;
}

.sadrzaj-mt {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
  margin: 20px;
  font-size: 18px;
  padding: 0px 30px 0px 30px;

}

.opcenito-naslovi {
  margin: 40px;
}

.opcenito {
  display: flex;
  flex-basis: 400px;
  text-align: left;
}

.izvori {
  display: flex;
  flex-basis: 400px;
  text-align: center;
  padding-left: 30px;
  border-left: 1px solid black;
  padding-right: 30px;
  border-right: 1px solid black;
}

.izvori2 {
  display: flex;
  flex-basis: 400px;
  text-align: right;
}

.naslovi {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  flex-basis: 30%;
  margin: 0 10%;
  text-align: center;
}

.naslovi-imena {
  font-size: 35px;
  padding-bottom: 10px;
}

.kartice {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px 0px 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 30%;
  margin: 10px;
  padding: 10px;
  border: 3px solid #473d3d;
  border-radius: 10px;
  background-color: rgba(207, 142, 58, 0.5);
}

.card img {
  width: 70%;
  border-radius: 15px 15px 0 0;
}

.card p {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  padding: 10px;
  border: 2px solid #473d3d;
}

.card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 30%;
  margin: 10px;
  padding: 10px;
  border: 3px solid #473d3d;
  border-radius: 10px;
  background-color: rgba(207, 142, 58, 0.5);
}

.card2 img {
  width: 70%;
  border-radius: 15px 15px 0 0;
}

.card2 p {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  padding: 10px;
  border: 2px solid #473d3d;
}

.kartice2 {
  display: flex;
  justify-content: space-around;
}

.naslovi2 {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  flex-basis: 30%;
  margin: 0 10%;
  text-align: center;

}

.banner {
  height: 70vh;
  background-image: url("banner.png");
  background-repeat: no-repeat;
  background-size: cover;

}

.banner-text {
  font-size: 25px;
  padding: 20px;
  text-align: center;
}

.banner-text h2 {
  font-size: 45px;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 20px;
  text-align: center;
  color: #12343f;
}

.banner-galerija {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.banner-galerija img {
  width: 350px;
  height: 250px;
}

.lijevo {
  display: flex;
  flex-basis: 350px;
  flex-direction: column;
  align-items: flex-start;
  border: 5px solid #473d3d;
}

.sredina {
  display: flex;
  flex-basis: 45%;
  flex-direction: column;
  font-size: 23px;
  text-align: center;
  padding-top: 20px;
}

.desno {
  display: flex;
  flex-basis: 350px;
  flex-direction: column;
  align-items: flex-end;
  border: 5px solid #473d3d;
}

.footer-out {
  padding-bottom: 0;
  padding-top: 20px;
  background: #e7d4c7 url(https://www.greekmythology.com/build/images/ornament.16a47461.svg) repeat-x;
}

.footer-out h2 {
  padding-top: 20px;
  font-size: 45px;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 20px;
  color: #12343f;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #000000;
  padding: 10px 15px;
  padding-bottom: 0;
  padding-top: 20px;
}

.prava {
  text-align: center;
}

.ikone {
  display: flex;
  flex-direction: row;
  width: 25px;
  height: 25px;
  padding: 5px;
}

.ikone img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding-right: 5px;
}

.red1 {
  display: flex;
  flex-direction: column;
}

.red1 p {
  padding: 5px;
  font-size: 17px;
}

.red2 p {
  padding: 5px;
  font-size: 16px;
}

.red3 p {
  padding: 5px;
  font-size: 16px;
}

.red3 a {
  text-decoration: none;
  color: #12343f;
  font-weight: 700;
  transition: 0.3s;
}
.red3 a:visited{
  color: #236378;
}
.red3 p:hover{
  transition: 0.5s;
  color:  #ae7a54;
  background-color: #12343f;
  border-radius: 10px;
}

.dno {
  padding: 10px 15px;
  padding-bottom: 0;
  padding-top: 20px;
  background: #e7d4c7 url(https://www.greekmythology.com/build/images/ornament.16a47461.svg) repeat-x;
}

.content-prijava h2 {
  font-size: 45px;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 20px;
  text-align: center;
  color: #12343f;
}

.prijava {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.prijava button {
  background-color: #12343f;
  color: white;
  width: 60px;
  height: 30px;
}

.prijava input {
  background-color: #12343f;
  color: white;
  width: 200px;
  height: 30px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.prijava h1 {
  text-align: center;
}

.hr-mid {
  width: 70%;
  height: 2px;
  margin: auto;
}
.content-mapa h2{
  font-size: 45px;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 20px;
  text-align: center;
  color: #12343f;
}
.content-mapa p{
  text-align: center;
  color: #12343f;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}
.mapa {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.mapa img{
  border: 5px solid #12343f;
}
.clickable-div {
  cursor: pointer;
}

.mt1, .mt2, .mt3, .mt4, .mt5, .mt6, .mt7, .mt8, .mt9, .mt10, .mt11, .mt12 {
  position: absolute;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: #c4c941;
  border: 2px solid black;
}

.mt12 {
  height: 30px;
  width: 45px;
  border-radius: 10px;
  background-color: #e3b256;
  border: 3px solid rgb(40, 39, 39);
}
.mt6, .mt10{
  position: absolute;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 2px solid rgb(40, 39, 39);
  background-color: #ed4715;
}
.popup {
  position: absolute;
  transform: translate(-50%, -100%);
  background-color: rgb(242, 230, 230);
  border: 1px solid black;
  padding: 10px;
  z-index: 1000;
  text-align: center;
  color: #12343f ;
}
.popup h3{
  font-size: 24px;
}
.popup button{
  background-color:  #e3b256;
  padding: 5px;
  margin-top: 3px;
  color: #123f1e;
}
.legenda{
  display: flex;
  justify-content: center;
  align-items: center;
}
.legenda table{
  border: 4px solid black;
  width: 700px;
  text-align: center;
  margin-bottom: 20px;
}
.legenda th{
  border: 2px solid black;
  font-size: 25px;
}
td{
  font-size: 20px;
}
.table-b{
  border-left: 2px solid black;
}
.zuti{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #e3b256 ;
  display: inline-block;
  border: 1px solid black;
}
.narancasta{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #c4c941 ;
  display: inline-block;
  border: 1px solid black;
}
.crvena{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color:  #ed4715;
  display: inline-block;
  border: 1px solid black;
}
.banner-mapa{
  display: flex;
  flex-direction: row;
  border: 7px solid black;
}
.banner-mapa1{
  display: flex;
  flex-direction: column;
  order: 1;
  background-image: url(22.jpg);
  background-size: cover;
  height:70vh;
  width: 50%;
}
.banner-mapa2, .banner-mapa1 {
  border: 7px solid black;
}
.banner-mapa2{
  display: flex;
  flex-direction: column;
  order: 2;
  background-image: url(banner22.jpg);
  background-size: cover;
  height:70vh;
  width: 50%;
}
.mjesta{
  display: flex;
  flex-direction: column;
  padding: 0px 30px 0px 30px;
}
.mjesta h2{
  font-size: 45px;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 20px;
  text-align: center;
  color: #12343f;
}
.mjesta h3{
  font-size: 30px;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 20px;
  text-align: center;
  color: #12343f;
}
.red-mjesta1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 30%;
  margin: 10px;
  padding: 10px;
  border: 3px solid #473d3d;
  border-radius: 10px;
  background-color: rgba(207, 142, 58, 0.5);
}

.item img {
  width: 70%;
  height: 412px;
  border-radius: 15px 15px 0 0;
  border: 5px solid #473d3d;
}

.item p {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  padding: 10px;
  border: 2px solid #473d3d;
  color: #12343f;
  font-weight: 700;
}
.tekst-mjesta {
  margin: 20px 50px 20px 50px;
}
.tekst-mjesta h2{
  font-size: 45px;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 20px;
  text-align: center;
  color: #12343f;
}
.tekst-mjesta p{
  text-align: center;
  color: #12343f;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}
.banner-mapa3{
  display: flex;
  flex-direction: row;
  border: 7px solid black;
}
.banner3-slika1{
  display: flex;
  flex-direction: column;
  order: 1;
  background-image: url(asd.jpg);
  background-size: cover;
  height:70vh;
  width: 50%;
}
.banner3-slika2{
  display: flex;
  flex-direction: column;
  order: 2;
  background-image: url(asddasa.jpg);
  background-size: cover;
  height:70vh;
  width: 50%;
}
.banner-mapa3{
  border: 5px solid black;
}
.content-likovi{
  background-color: #ad612b;
  margin: 20px 60px 20px 60px;
  border: 7px solid #12343f ;
}
.naslov-tab{
  font-size: 45px;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 20px;
  margin-top: 15px;
  text-align: center;
  color: #12343f;
}
.tablicalikovi{
  display: flex;
  flex-direction: row;
  gap: 17.5px;
  justify-content: center;
  margin: 10px 0px 10px 0px;
}
.tablicalikovi tr{
  display: flex;
  flex-direction: column;
}
.tablicalikovi td{
  display: flex;
  justify-content: center;
  align-items: center;
}
.tablicalikovi img{
  width: 250px;
  height: 300px;
  border: 4px solid black;
}
.hr-tablica{
  width: 90%;
  margin: auto;
  height: 1px;
  background-color: black;
}
.imetd{
  font-size: 25px;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 20px;
  margin-top: 15px;
  text-align: center;
  color: #12343f;
}
.content p{
  font-size: 20px;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 20px;
  margin-top: 15px;
  text-align: center;
  color: #12343f;
}
.likovi-tekst{
  margin: 20px 20px 40px 20px;
}
.likovi-tekst h2{
  font-size: 55px;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 10px;
  text-align: center;
  color: #12343f;
}
.item img:hover, .tablicalikovi img:hover{
  transition: 0.5s ease;
  transform:scale(1.05);
}
.card img:hover, .card2 img:hover{
  transition: 0.5s ease;
  transform:scale(1.03);
}
.predmeti-item:hover, .mitovi-item:hover{
  transition: 0.5s ease-in-out;
  transform:scale(1.03);
}

.predmeti, .mitovi{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px 50px 20px 50px;
  border: 5px solid black;
  background-color: #12343f;
}
.predmeti-item, .mitovi-item{
  margin: 20px;
  display: flex;
  flex-direction: row;
  border: 5px solid black;
  flex-basis: 50%;
  background-color: #ae7a54;
}
.tekst-predmeti, .tekst-mitovi{
  display: flex;
  flex-direction: column;
  order: 1;
}
.tekst-predmeti h2, .tekst-mitovi h2{
  text-align: center;
  font-size: 35px;
  color: #12343f;
}
.slika-predmeti, .slika-mitovi{
  display: flex;
  flex-direction: column;
  order: 2;
  padding-left: 15px;
}
.slika-predmeti img{
  width: 250px;
 height: 309px;
 border-left: 4px solid black;
 border-bottom: 4px solid black;
}
.slika-mitovi img{
 width: 250px;
 height: 300px;
 border-left: 4px solid black;
 border-bottom: 4px solid black;
}
.mitovipredmetih2{
  font-size: 50px;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: #12343f;
}
.tekst-predmeti p, .tekst-mitovi p{
  color: #12343f;
}
.hrcenter{
  width:95% ;
  margin: 50px auto 20px auto;
}